@media (375px < width) {
  :root {
    --title-h2: 1.25rem;
    --text: 0.938rem;
  }

  .wrapper {
    padding: 24px;
  }

  .demo {
    row-gap: 24px;
  }

  .demo_wrap {
    gap: 18px;
  }

  .demo_text {
    margin-bottom: 6px;
  }

  .demo_img {
    max-height: 360px;
  }

  .btn_cta {
    width: fit-content;
  }
}

@media (768px < width) {
  :root {
    --title-h2: 1.625rem;
    --text: 1.063rem;
    --body: 1.125rem;
  }

  :where(.button) {
    padding: 12px 14px;
    gap: 42px;
  }

  .btn_icon {
    padding: 10px;
  }

  .wrapper {
    padding: 36px 40px;
  }

  .demo {
    grid-template-columns: 1fr 1fr;
  }

  .demo_wrap {
    max-width: 580px;
    padding: 105px 0 105px 72px;
  }

  .demo_text {
    margin-bottom: 18px;
  }

  .demo_img {
    max-height: 100%;
  }

  .input {
    min-width: 452px;
  }
}

@media (1440px < width) {
  :root {
    --title-h2: 1.875rem;
  }

  .demo_wrap {
    padding: 102px 0 102px 72px;
  }

  .demo_img {
    max-height: 450px;
    max-width: 910px;
  }
}
